div {
  font-size: 50px;
  text-align: center;
}

.divOne{
  color: red;
  background-color: yellow;
}
.divTwo{
  color: green;
}
.divThree{
  color: blue;
}
.myfirstclass{
  background-color: #f41616;

}

body {
  background-color: yellow;
}